In [1]:
import pandas as pd
import yaml

In [5]:
samples = pd.read_csv(filepath_or_buffer="samples.tsv", sep="\t")

In [19]:
(samples.sample_name + "." + samples.library.astype(str)).tolist()

['pop1.1', 'pop1.1']

In [27]:
SAMPLES = samples

In [24]:
samples[["sample_name", "library"]].values.tolist()

[['pop1', 1], ['pop1', 1]]

In [25]:
def get_reads(wildcards):
    sample  = wildcards.sample
    library = wildcards.library
    forward_, reverse_ = (
        SAMPLES
        [(SAMPLES["sample"] == sample) & (SAMPLES["library"] == library)]
        [["forward", "reverse"]]
        .values.tolist()
    )
    return forward_, reverse_N

In [37]:
sample = "pop1"
library = 1
SAMPLES[(SAMPLES.sample_name == sample) & (SAMPLES.library == library)]\
    [["forward", "reverse"]]\
    .values.tolist()[0]

['resources/reads/pop1_1.fq.gz', 'resources/reads/pop1_2.fq.gz']

In [44]:
[
            f"{READS}/{sample}.{library}_1.fq.gz"
            for sample, library in samples[["sample_name", "library"]].values.tolist()
        ]

['asdasa/pop1.1_1.fq.gz', 'asdasa/pop1.1_1.fq.gz']

In [39]:
SAMPLES

,sample_name,library,forward,reverse,adapter
0,pop1,1,resources/reads/pop1_1.fq.gz,resources/reads/pop1_2.fq.gz,TruSeq3-PE-2.fa
1,pop1,1,resources/reads/pop2_1.fq.gz,resources/reads/pop2_2.fq.gz,TruSeq3-PE-2.fa

In [41]:
READS = "asdasa"

In [46]:
samples = pd.read_table("samples.tsv", comment="#")

In [47]:
samples

  sample  library                       forward                       reverse
0   pop1        1  resources/reads/pop1_1.fq.gz  resources/reads/pop1_2.fq.gz
1   pop2        1  resources/reads/pop2_1.fq.gz  resources/reads/pop2_2.fq.gz

In [48]:
[
            f"{READS}/{sample}.{library}_1.fq.gz"
            for sample, library in samples[["sample", "library"]].values.tolist()
        ]

['asdasa/pop1.1_1.fq.gz', 'asdasa/pop2.1_1.fq.gz']

In [49]:
sample

'pop1'

In [50]:
library

1

In [52]:
samples[(samples["sample"] == sample) & (samples["library"] == library)][["forward", "reverse"]].values.tolist()

[['resources/reads/pop1_1.fq.gz', 'resources/reads/pop1_2.fq.gz']]

In [70]:
samples[(samples["library"] == library)]

Empty DataFrame
Columns: [sample, library, forward, reverse]
Index: []

In [55]:
forward_, reverse_ = samples[(samples["sample"] == sample) & (samples["library"] == library)][["forward", "reverse"]].values.tolist()[0]

In [65]:
READS = "results/reads/"

In [67]:
[   
    READS + sample + "." + library + "." + end + ".fq.gz"
    for sample, library in (
        samples[["sample", "library"]]
        .values
        .tolist()
    )
    for end in ["1", "2"]
]

['results/reads/pop1.1.1.fq.gz',
 'results/reads/pop1.1.2.fq.gz',
 'results/reads/pop2.1.1.fq.gz',
 'results/reads/pop2.1.2.fq.gz']

In [59]:
samples = pd.read_table("samples.tsv", comment="#", dtype = 'str')

In [88]:
sample = "pop1"
library = "1"
samples[(samples["sample"] == sample) & (samples["library"] == library)]["forward"].tolist()[0]

'resources/reads/pop1_1.fq.gz'

In [69]:
print([
    READS + sample + "." + library + "." + end + ".fq.gz"
    for sample, library in samples[["sample", "library"]].values.tolist()
    for end in ["1", "2"]
])

['results/reads/pop1.1.1.fq.gz', 'results/reads/pop1.1.2.fq.gz', 'results/reads/pop2.1.1.fq.gz', 'results/reads/pop2.1.2.fq.gz']

In [61]:
samples.library

0    1
1    1
Name: library, dtype: object

In [82]:
samples[samples["library"] == library]

  sample library                       forward                       reverse
0   pop1       1  resources/reads/pop1_1.fq.gz  resources/reads/pop1_2.fq.gz
1   pop2       1  resources/reads/pop2_1.fq.gz  resources/reads/pop2_2.fq.gz